img.bg {
  left: 0;
  position: absolute;
  top: 0;
}

img.leg {
  transition: 0.5s ease-in;
  transform-origin: 10% center;
}

img.leg.up {
  transform: rotate(-45deg);
  left: 171px;
  position: absolute;
  top: 399px;
}

img.leg:hover, img.leg.down {
  /*left: 160px;*/
  /*left: 147px;*/
  left: 171px;
  top: 415px;
  transform: rotate(-2deg);
}