* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  height: 100%;
  user-select: none;
  width: 100%;
}

img.bg {
  left: 0;
  position: absolute;
  top: 60px;
}

img.rose {
  left: 194px;
  position: absolute;
  top: 509px;
}

img.leg {
  position: absolute;
  transition: 0.4s ease-in;
  transform-origin: left top;
}

img.leg.up {
  transform: rotate(-45deg);
  left: 158px;
  top: 480px;
}

img.leg.down {
  left: 171px;
  top: 475px;
  transform: rotate(-2deg);
}