* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  background-color: #EEE;
  color: #555;
  font-family: Zapfino;
  height: 100%;
  user-select: none;
  width: 100%;
}

h2 {
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

#poem {
  display: none;
}
#poem p {
  font-family: Cochin;
}

#wrapper {
/*  max-width: 541px;
  margin: auto;
  position: relative;*/
}

#game {
  display: none;
}

#game .img {
  width: 541px;
}

#title {
  margin-top: 60px;
}

.english {
  font-family: Cochin;
  font-variant: small-caps;
  font-weight: bold;

  margin: 0;
}
img.bg {
  left: 0;
  position: absolute;
  top: 60px;
}

img.rose {
  left: 194px;
  position: absolute;
  top: 509px;
}

img.leg {
  position: absolute;
  transition: 0.4s ease-in;
  transform-origin: left top;
}

img.leg.up {
  transform: rotate(-45deg);
  left: 158px;
  top: 480px;
}

img.leg.down {
  left: 171px;
  top: 475px;
  transform: rotate(-2deg);
}